<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Lab | SQL: Isaac, Gabi & Miguel

## Connect to BigQuery

In [16]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 1/ironhack_service_account_big_query.json"
from google.cloud import bigquery

In [17]:
client = bigquery.Client()

## Challenge 2 - Create the Database and Tables

1. __Create a database for this lab.__
   
   In BigQuery you will find a 'dataset' called 'car_dealership'. You will create all tables under this.


2. __Now, based on the database design you created, write the SQL query to create the tables and columns.__ You will be using the  `CREATE TABLE` statement for which you can find reference [here](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language).

   Now split yourselves in pairs and decide which table you want to create. Each pair should create one table. Once you have   created the table, go to the BigQuery interface and make sure that the table was created correctly.

In [18]:
sql = '''
CREATE TABLE car_dealership.salesperson(staff_id STRING, name STRING, store STRING)
'''

## Challenge 3 - Seeding the Database

The purpose of _database seeding_ is to provide some dummy data for an empty database so that software development can be started based on the dummy data. In this challenge you will insert dummy data rows into the tables of your new database.


You'll be using the `INSERT INTO` statement for this purpose. You can some info [here](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax).

For your convenience, we provide you with some example dummy data. These dummy data may not readily work with your database depending on how you have designed your database. You may need to change them to the appropriate form. You should only insert data into the table you have created.

In [19]:
sql_2 = '''
INSERT INTO `ironhack-data-analytics-265219.car_dealership.salesperson` 
VALUES
('00001', 'Petey Cruiser', 'Madrid'),
('00002', 'Anna Sthesia', 'Barcelona'),
('00003', 'Paul Molive', 'Berlin'),
('00004', 'Gail Forcewind', 'Paris'),
('00005', 'Bob Frapples', 'Mimia'),
('00006', 'Bob Frapples', 'Mexico City'),
('00007', 'Walter Melon', 'Amsterdam'),
('00008', 'Shonda Leer', 'SÃ£o Paulo')
'''

In [20]:
query_job = client.query(query = sql_2)
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []